#copy
{
    background: var(--first);
    color: var(--white);
    text-align: center;
    padding: var(--gap10) 0;
}

#copy p
{
    margin: 0;
}

#copy a
{
    color: var(--white);
    /* text-decoration: underline; */
}

#copy a:hover,
#copy a:focus
{
    text-decoration: none;
}