
/*
 * блок з логотипом, меню та пошуком
 */

#header
{
    background: var(--white);
}

#header .wrapper
{
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo
{
    width: 200px;
}



/* menu */
#nav
{
    margin: 0 auto;
}

#nav ul
{
    display: inline-block;
}

#nav li
{
    display: inline-block;
    position: relative;
}

#nav li a
{
    text-transform: uppercase;
    text-decoration: none;
    color: var(--first);
    display: block;
    padding: var(--gap5) var(--gap10);
    font-weight: 600;
    transition: .5s;
}

#nav li a:hover
{
    color: var(--second);
}

/* dropdown */
#nav li ul
{
    position: absolute;
    min-width: 260px;
    left: calc(50% - 130px);
    border: 1px solid var(--add);
    padding: var(--gap10);
    box-shadow: var(--box-shadow);
    background: var(--white);
    z-index: -1;
    opacity: 0;
    transition: .5s;
}

#nav li.active ul
{
    opacity: 1;
    z-index: 1;
}

#nav li ul li
{
    display: block;
    padding-top: var(--gap10);
    margin-top: var(--gap10);
    border-top: 1px solid var(--add);
    line-height: 1.5;
}

#nav li ul a
{
    text-transform: none;
    font-weight: 400;
    text-align: center;
    color: var(--first);
}

#nav li ul a:hover
{
    background: var(--add);
    color: var(--first);
}

/* ховаємо горизонтальну риску */
#nav li ul li:first-child
{
    padding-top: 0;
    margin-top: 0;
    border-top: 0;    
}

#search form
{
    position: relative;
}

#search input
{
    width: 100%;
    padding: var(--gap15) calc(var(--gap20)*1.5) var(--gap15) var(--gap20);
    outline: none;
    border: none;
    border: 2px dotted var(--form-bg);
    font-family: inherit;
}


#search input:focus
{
    border-style: solid;
}

#search button
{
    cursor: pointer;
    border: none;
    background: none;
    padding: 2px;
    position: absolute;
    right: 10px;
    top: 15px;
}

#search svg
{
    width: 16px;
    height: 16px;
    fill: var(--form-bg);
}

::placeholder
{
    color: var(--form-bg);
}